@media screen and (max-width: 425px) {
    header{
        background-color: transparent;
        box-shadow: none;
        }

        .nav-container{
            flex-direction: column;
            
        }

        .nav-items-container{
    
            width: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
                
}

.banner_container{
  
    flex-direction: column-reverse;
    margin-top: 40px;
}
.left_div{
    width: 100%;
    text-align: center;
    margin-top: 40px;
}

.right_div{
    width: 100%;
}



.card_container{
    flex-direction: column;
}

.card_title .card .img_03{
    width: 100%;
 }

 .heading_03{
    text-align: center;
 }

 .banner-02{
   
  flex-direction: column;
    
}

.left_div-02{
    width: 100%;
}

.right_div-02{
    width: 100%;
}

.banner_bg{
    text-align: center;
}
.end{
    text-align: center;
}
.button_container{
    text-align: center;
    margin: 20px;
}
.right_div-03{
    width: 100%;
}
.left_div-03{
    width: 100%;
}

.banner_03-container{
   flex-direction: column;
}
.right_div-03{
    width: 100%;
}
.left_div-03{
    width: 100%;
}

}

@media screen and (min-width: 426px) and (max-width: 768px) {
    .nav-items-container a{
               padding: 20px;
    }

    .banner_container{
        margin-top: 40px;
    }
}

