@media screen and (max-width: 425px) {
    header{
        background-color: transparent;
        box-shadow: none;
        }

        .nav-container{
            flex-direction: column;
            
        }

        .nav-items-container{
    
            width: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
                
}
}

@media screen and (min-width: 426px) and (max-width: 768px) {
    .nav-items-container a{
               padding: 20px;
    }

}