*{
    box-sizing: border-box;
}

body{
   
    font-family: 'Work Sans', sans-serif;
}

/* header starts  */
header{
background-color: #ffffff;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-container{
    min-height: 50px;
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    
}

.logo-container{
    display: flex;
    width: 50%;
}

.logo-container img{
    width: 120px;
    padding: 10px;
   
}

.logo-container p{
    font-size: 30px;
}
.gamer-color{
    color:#FF42A5
}

.nav-items-container{
    
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

 .nav-items-container a{
    text-decoration: none;
    padding: 20px;
    font-size: 18px;
    color: rgb(0, 0, 0);
}

.nav-items-container .btn{
    width: 262px;
    height: 56px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

/* header ends here */

/* banner section starts here */

.banner_container{
    min-height: 400px;
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.left_div{
    width: 50%;
    display: flex;
    flex-direction: column;
     gap: 20px;
}
.right_div{
    width: 50%;
}

.right_div .img_02{
    width: 100%;
}
.heading_01{
    color: #0B0223;
    font-size: 45px;
    font-weight: 600;
    text-transform: uppercase;
}
    
    .pera_01{
    font-size: 95px;
    font-weight: 900;
    text-transform: uppercase;
    color:#F948B2;
    }
    
    .btn_03{
        padding: 11px 20px;
        border-radius: 24px;
        background-color: #FF42A5;
        color: white;
        border: none;
    }
    
    .btn_04{
        background-color: #4EC5F7;
        padding: 11px 25px;
        border-radius: 24px;
        color: white;
        border: none;
        margin-left: 10px;
    }


/* banner section ends here */






/* banner-02 section sarts here */

.banner_bg{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03)) 100%;
}

.banner-02{
    min-height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    
}
.right_div-02{
    width: 30%;
    display: flex;
    flex-direction: column;
    
    
}

.right_div-02 h1{
    color: #F948B2;
    
}

.end{
    text-align: end;
}

.left_div-02{
    width: 50%;
}

.left_div-02 img{
    width: 100%;
}

.btn_0{
        background-color: #4EC5F7;
        padding: 11px 25px;
        border-radius: 24px;
        color: white;
        border: none;
        margin-left: 10px;
        width: 40%;
}

.button_contaner{
    text-align: end;
}


/* banner-02 section ends here */









/* online game funny video starts here */

.online_container{
    min-height: 500px;
    max-width: 1200px;
    margin: 0 auto;
}

.heading_container{
    text-align: center;
}



.card_container{
    display: flex;

}
 .card_title .card .img_03{
    width: 90%;
    height: auto;
 }
 .online_color{
    color: #FF42A5;
 }
/* online game funny video ends here */





/* banner 3 starts here */
.banner_03-container{
    max-width: 1200px;
    min-height: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.right_div-03{
    width: 60%;
}

.left_div-03{
    width: 40%;
}
.img_container{
    width: 60%;
}
.image_02{
    width: 400px;
    height: 250px;
    position: absolute;
}

.image_01{
    width: 100px;
    height: 100px;
    position: relative;
    top: 10px;
    left: 40px;
}

.banner_03-container{
    margin-bottom: 40px;
}


/* banner 3 ends here */





/* bg games section starts here */

.bg_games_container{
    max-width: 1200px;
    min-height: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}


.wrap{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;    
}

.wrap span{
    margin-left: 10px;
}

.wrap:hover{
    border: 1px solid #FF42A5;
    border-radius: 50px;
    border-color: #FF42A5;
    color: #FF42A5;
}

/* bg games section ends here */





.bg_footer{
    background-color: black;
    width: 100%;
    min-height: 30px;
    text-align: center;
    color: white;
}
