html{

    font-family: 'Work Sans', sans-serif;

}
*{
    margin: 0px;
    padding: 0px;
}


/* header starts here */


.bg-color{
    background-color: #FFFFFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 100px;
    width: 100%;
}

.logo{
    width: 86.041px;
    height: 40px;
    padding: 20px;
    margin-left: 150px;
}

.left_side-01{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: -20px;
}

.left_side-01 p{
    font-size: 45px;
}

.btn{
    width: 262px;
    height: 56px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 150px;
}

.link_01{
    text-decoration: none;
    margin: -100px;
    
}

.nav_01{
    display: flex;
    justify-content: center;
    align-items: center;
}

.link_div{
    margin-right: 10px;
}

.pera_02{
    margin-left: 10px;
}

/* header ends here */









/* banner starts here */

.banner_container{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   line-height: -2vh;
}

.right_side-02{
    margin-right: 50px;
    
   
}
 .img_02{
    width: 85%;

  }

.bg-image_01{
    background-image: url("images/Group\ 14.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.bg-image_01 .left_side-02{
    margin-left: 150px;
    margin-top: 80px;
}



.heading_01{
color: #0B0223;
font-size: 45px;
font-weight: 600;
text-transform: uppercase;
}

.pera_01{
font-size: 95px;
font-weight: 800;
text-transform: uppercase;
color:#F948B2;
}

.btn_03{
    padding: 11px 20px;
    border-radius: 24px;
    background-color: #FF42A5;
    color: white;
    border: none;
}

.btn_04{
    background-color: #4EC5F7;
    padding: 11px 25px;
    border-radius: 24px;
    color: white;
    border: none;
    margin-left: 10px;
}

/* banner ends here */